.navbar-brand{
	font-size:30;
}

.nav-item{
	text-align:center;
}
.jumbotron{
	text-align:center;
	background:none;
	padding:0;
}
#mhead{
	font-size:70;
}
#ctitle{
	font-family:serif;
	text-decoration:underline;
	font-size:40;
	text-align:center;
}
#btitle{
	font-family:serif;
	text-decoration:underline;
	font-size:40;
	text-align:center;
}
#stitle{
	font-family:serif;
	text-decoration:underline;
	font-size:40;
	text-align:center;
}
.mtext{
	font-size:23;
	background:#999999;
	padding:10px;
	margin-bottom:10px;
}